.employeeLine {
    cursor: pointer;
}

.requiredField {
    color: red;
}

.editIcon {
    display: none;
}

.employeeLine:hover .editIcon {
    display: inline;
}

.employeeLine:hover .orderNumber {
    display: none;
}
